body {
  background: red;
}

#background {
    width:300px;
    height:400px;
    background: #5b7582;
    margin:50px auto;
   
}

input {
    border:5;
    color: #ccc;
    background-color: #225fe2;
    width: 50px;
    height: 40px;
}

#screen {
    background-color: black;
    width: 210px;

}
#zero {
    width: 105px;
}
#del {
    
    width: 105px;
    background-color: #db3f3f;
}
#equl{
    width: 105px;
    background-color: #4ec979;
}



